---
name: javadocio toucher
run-name: touch javadoc.io
on:
  push:
    paths:
    - pom.xml
    branches: ['main', 'REL-*']
  workflow_dispatch:


jobs:
  touch:
    runs-on: ubuntu-latest
    env:
      MAVEN_ARGS: '--no-transfer-progress'
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
          cache: maven
      - name: touch
        run: |
          for u in `mvn help:effective-pom | grep  "link>https://javadoc.io" | sed -E 's/.*<link>(.*)<\/link>.*/\1/g'`
          do
            echo "Touching $u"
            curl -s -A "github/${GITHUB_REPOSITORY}" -o /dev/null -w "%{http_code}\n" -L $u
          done

